<div>
<% @user.errors.full_messages.each do |msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
  <h5>Register</h5>

<%= javascript_pack_tag 'toggle_field' %>

  <%= form_for @user, url: {action: "create"} do |f| %>

    <div>
      <div>
        <%= f.label(:seller, "seller") %>
        <%= f.radio_button :seller, true, id: "radio-seller"%>
      </div>

      <div>
        <%= f.label(:seller, "buyer") %>
        <%= f.radio_button :seller, false, id: "radio-buyer"%>
      </div><br />
    </div>
    
    <div>
      <%= f.label :name %>
      <br />
      <%= f.text_field :name, placeholder: "name"%><br />
    </div>

    <div>
      <%= f.label :email %>
      <br />
      <%= f.email_field :email, placeholder: "email"%><br />
    </div>

    <div id="phone-container" class="phone">
      <%= f.label :phone %>
      <br />
      <%= f.text_field :phone, placeholder: "phone"%><br />
    </div>

    <div id="address-container">
      <%= f.label :address %>
      <br />
      <%= f.text_field :address, placeholder: "address"%><br />
    </div>
      
    <div>
      <%= f.label :password %>
      <br />
      <%= f.password_field :password, placeholder: "password" %><br />
    </div>

    <div>
       <%= f.label :password_confirmation %>
       <br />
       <%= f.password_field :password_confirmation, placeholder: "password confirmation" %><br />
    </div>
    <br />
    <%= f.submit "Create" %>

  <% end %>
</div>
