<h1 class="text-center">Results</h1>
<div class="px-5 mt-4">
    <table>
        <thead>
            <tr>
            <th class= "px-4">Title</th>
            <th class= "px-4">Price</th>
            <th colspan="3"> </th>
            </tr>
        </thead>

        <tbody>
            <%@sales.each do |book|%>
            <tr>
                <td class= "px-4"><%=book.title%></td>
                <td class= "px-4"><%= number_to_currency(book.price)%></td>
            </tr>
            <% end %> 
        </tbody>
    </table>
    <div class= "mt-5 w-25 px-4">
        <div class="d-flex align-content-center justify-content-between">
            <strong>Total earnings: </strong>
            <p><%=number_to_currency(@results[:earnings])%></p>
        </div>
        <div class="d-flex align-content-center justify-content-between">
            <strong>App fee: </strong>
            <p><%=number_to_currency(@results[:app_fee])%></p>
        </div>
        <div class="d-flex align-content-center justify-content-between">
            <strong>Net earnings: </strong>
            <p><%=number_to_currency(@net_earnings)%></p>
        </div>
    </div>
</div>