<!DOCTYPE html>
<html>
  <head>
    <title>TelosBookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%if user_signed_in?%>
        <%= link_to 'log_out', logout_path%>
        <h1><%= "Welcome #{current_user.name}" %></h1>
      <%else%>
        <%= link_to 'log_in', login_path %>
        <span>|</span>
        <%= link_to 'sign_up', signup_path %>
      <%end%>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
